Repository strvcom/template-react-native: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, prettier --write, stylelint

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "yarn lint:fix",
    "prettier --write",
    "stylelint",
    "git add"
  ],
  "*.{json,md}": [
    "prettier --write",
    "git add"
  ]
}

add config and i18n
  .env.example
  .gitignore
  App.tsx
  __mocks__/react-native-config.js
  __mocks__/react-native-localize.js
  __tests__/App-test.tsx
  package.json
  src/config/env.ts
  src/config/index.ts
  src/i18n/en.ts
  src/i18n/index.tsx
  src/index.test.tsx
  src/index.tsx
  src/package.json
  yarn.lock
Due: yarn lint:fix, prettier --write, stylelint

final setup
  android/app/build.gradle
  ios/Podfile.lock
  ios/template_react_native.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  package.json
  src/i18n/en.ts
  src/index.tsx
  yarn.lock
Due: yarn lint:fix, prettier --write, stylelint

add meta information
  LICENSE
  README.md
  package.json
Due: prettier --write

add init script
  README.md
  init.sh
Due: prettier --write

feat: add CI setup
  .mergify.yml
  .travis.yml
  src/config/env.ts
Due: yarn lint:fix, prettier --write, stylelint

Update .mergify.yml
  .mergify.yml
Due: none

fix: i18n memoizeWith
  src/i18n/index.tsx
Due: yarn lint:fix, prettier --write, stylelint

Update package.json
  package.json
Due: prettier --write

Update Podfile
  ios/Podfile
Due: none

Update README.md
  README.md
Due: prettier --write
